a[data-action="action-edit"] {
    display: none;
}
.dropdown-notifications{
    display: none !important;
}
.widget-control .add-new{
    display: none !important;
}
div[custom_block_name="Avg monthly salary"] .widget {
    padding: 0px !important;
}

